.hr{
  margin: 1rem 0 1rem 0;
  border-top: 1px solid $light-slate;
}
.hide{
  display: none;
}
.flip {
  margin-bottom: -10px;
  transform: rotate(180deg)translateY(45%)translateX(15%);
}
.error {
  color: $candy-red!important;
}
.error .validation-char {
  color: $candy-red!important;
}
.valid {
  color: $proton-light!important;
}
.valid .validation-char {
  color: $proton-light!important;
}