button {
  border-radius: $border-radius-sm;
  font-size: $font-md-abs;
  font-weight: $font-heavy;
  padding: .75em;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease-in-out 0.4s all;
  &:active, &:focus, &:hover{
    background-color: none;
    outline: none!important;
  }
}
.neu-a-button, .neu-b-button, .neu-c-button{
  background-color: $background-slate;
  -webkit-appearance: none;
  box-shadow: $shadow-low-contrast;
  border: none;
  letter-spacing: .1em;
  margin: 0 .75em 0 .75em;
  outline: none;
  padding: 1em;
  &:disabled {
    background-color: $background-slate;
    color: $candy-red-opaque
  }
}
.neu-a-button {
  background-color: $royal!important;
  color: $background-slate;
  font-size: $font-lg;
  &:hover{
    color: $plastic-pink;
    background-color: $royal-dark!important;
  }
}
.neu-b-button{
  color: $royal;
  margin: 1em 0 1em 0;
  &:hover{
    color: $plastic-pink!important;
    background-color: $royal-dark!important;
  }
}
.neu-c-button{
  background-color: $light-slate-full;
  color: $candy-red-opaque;
  &:hover {
    background-color: $background-slate;
    color: $background-slate;
  }
}
.post-navigation-button{
  background-color: $light-slate-full;
  box-shadow: $shadow-low-contrast;
  border-radius: $border-radius-sm!important;
  border: 0;
  line-height: 16px;
  margin: 0 .15em .25em .15em;
  outline: none;
  padding: 7px 10px;
  transition: ease 0.7s all;
  -webkit-appearance: none;
  width: auto;
  &:active, &:hover{
    background-color: $background-slate;
    outline: none;
  }
  #update-post-icon{
    margin-left: 2px;
    fill: $plastic-pink;
  }
}
#google-button{
  padding-top: 15px;
}
#update-post, #create-post {
  background-color: $background-slate;
  color: $proton-deep;
  &:hover:not(:disabled){
    background-color: $proton-deep;
    color: $background-slate
  }
}
#create-post, #update-post, #delete-post, #create-link, #delete-link, #create-comment, #create-username, #delete-comment, #hide-comment-form, #reset-post-form {
  position: absolute;
}
#create-username {
  right: 2px;
  bottom: 10px;
}
#create-post, #create-comment{
  right: 4px;
  top: 4px
}
#create-link{
  right: 0px;
  bottom: 28px
}
#update-post{
  bottom: -65px;
  right: 0;
}
#delete-link, #reset-post-form{
  padding: .5em 1em .5em 1em!important; //overrides default button padding
  right: 0px;
  top: 10px
}
#delete-post, #delete-comment{
  padding: 3px 8px 2px 10px;
  top: 2px;
  right: 0px
}