button {
  border-radius: $border-radius-sm;
  font-size: $font-md-abs;
  font-weight: $font-heavy;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease-in-out 0.4s all;
  &:active, &:focus, &:hover{
    background-color: none;
    outline: none!important;
  }
}
.action-button-lg, .action-button-sm, .pill-button{
  background-color: $light-slate-full;
  -webkit-appearance: none;
  box-shadow: $shadow-low-contrast;
  border: none;
  letter-spacing: .1em;
  margin: 0 .75em 0 .75em;
  outline: none;
  padding: 1em;
  &:disabled {
    background-color: $background-slate;
    color: $candy-red-opaque
  }
}
.action-button-lg, .action-button-sm, .pill-button{
  color: $royal;
  &:hover{
    color: $plastic-pink!important;
    background-color: $royal-dark!important;
  }
}
.action-button-lg{
  font-size: $font-md-abs;
}
.action-button-sm{
  font-size: $font-sm;
}
.pill-button{
  font-size: $font-sm!important;
  margin: 1em 0 1em 0;
  background-color: $royal-dark!important;
  color: $background-slate;
  &:hover{
    color: $plastic-pink!important;
  }
}
.pill-button{
  border-radius: 18px;
}
.square-pad-button{
  background-color: $light-slate-full;
  box-shadow: $shadow-low-contrast;
  border-radius: $border-radius-sm!important;
  border: 0;
  line-height: 16px;
  margin: 0 .15em .25em .15em;
  outline: none;
  padding: 7px 10px;
  transition: ease 0.7s all;
  -webkit-appearance: none;
  width: auto;
  &:active, &:hover{
    background-color: $background-slate;
    outline: none;
  }
}
.logo-button{
  padding-top: 15px;
}
#update-post, .tab-button, #delete-link {
  position: absolute;
}
.tab-button{
  padding: 3px 8px 3px 10px;
  top: -5px;
  right: -7px
}
#update-post{
  bottom: -73px;
  right: 0;
}
#delete-link{
  padding: .5em 1em .5em 1em!important; //overrides default button padding
  right: 0px;
  top: 10px
}