// ============= font families ================
$font-header: "Arial";
$font-title: "Arial";
$font-body: "Arial";
$font-caption: "Arial";
// ============= font weights =================
$font-heavy: 700;
$font-med: 600;
$font-light: 300;
$font-fine: 100;
// ============= font sizes =================
$font-lg: 1.25em;
$font-md: 1em;
$font-md-abs: 16px;
$font-sm: .75em;
$font-sm-abs: 12px;

%body-fonts {
  font: 100% $font-body;
  font-weight: $font-med;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $slate;
  h1 {
    font-size: $font-md-abs;
    font-weight: $font-heavy;
    background: $border-g;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3,h4,h5,h6,.inline-input-lg, #title-update-form {
    color: $royal-dark;
  }
  h3,h4,h5,h6 {
    font-size: $font-md;
    font-weight: $font-heavy;
  }
  span.caption {
    background: $subtle-g;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $font-sm-abs;
    font-weight: $font-heavy;
    transition: ease 0.3s all;
    &:hover{
      cursor: default;
    }
  }
  .main-text{
    margin-bottom: 0;
    text-align: left;
    line-height: 1.5;
    padding: 1em 0 1em 0;
    font-weight: $font-light;
    font-size: $font-sm;
  }
  &:hover{
    cursor: default;
  }
  .validation-char, .validation-char-fixed {
    color: $royal;
    font-size: 10px!important;
    font-weight: $font-heavy;
    margin: .75em 0 0 2em;
    text-align: left;
    &:hover{
      text-decoration: none;
    }
  }
  .validation-char-fixed {
    position: absolute;
    bottom: -13px;
  }
}