// ============= font families ================
$font-header: Arial;
$font-title: Arial;
$font-body: Arial;
$font-caption: Arial;
// ============= font weights =================
$font-heavy: 700;
$font-med: 600;
$font-light: 300;
$font-fine: 100;
// ============= font sizes =================
$font-lg: 1.25em;
$font-md: 1em;
$font-md-abs: 16px;
$font-sm: .75em;
$font-sm-abs: 12px;
$font-caption: 8px;

%body-fonts {
  font: 100% $font-body;
  font-weight: $font-med;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $slate;
  h1 {
    background: $border-g;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3,h4,h5,h6 {
    color: $royal-dark;
    font-size: $font-md;
    font-weight: $font-heavy;
  }
  span{
    background: $subtle-g;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $font-caption;
    font-style: italic;
    transition: ease 0.3s all;
    &:hover{
      cursor: default;
    }
  }
  .post-text{
    margin-bottom: 0;
    text-align: left;
    padding: 1em 0 1em 0;
    font-weight: $font-light;
    font-size: $font-sm;
  }
  &:hover{
    cursor: default;
  }
}