%forms{
.form-container {
  background-color: $light-slate-full;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-dark;
  max-width: 700px;
}
form {
  -webkit-appearance: none;
  textarea, input, .form-control {
    color: $black-slate;
    background: $background-slate;
    border: 1px solid $light-slate;
    border-radius: $border-radius-sm;
    font-weight: $font-heavy;
    font-size: $font-md;
    resize: none;
    transition: all .4s ease-in;
    &::placeholder{
      color: $slate;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &:hover, &:active, &:focus {
      border: 1px solid $proton-light-opaque;
      box-shadow: none!important;
    }
    &:focus {
      border: 1px solid $plastic-pink-opaque;
    }
  }
  .login-input{
    height: 3.25em;
    &::placeholder{
      color: $caption-slate;
      font-style: italic;
    }
  }
  #login-form-password, #new-post-title{
    color: $royal-dark!important;
  }
  #new-post-title, #title-update-text{
    line-height: 1.2em;
  }
  #post-update-textarea{
    &:hover, &:active, &:focus {
      border: 1px solid transparent //overrides the default 1px border applied on form field pseudo-states to keep the "feel" of directly editing the post instead of creating a new one
    }
    padding-left: 0px;
  }
  #new-post-title, #new-post-textarea{
    border-radius: $border-radius-rel;
    padding-left: 6px;
  }
  #new-post-title{
    padding-top: 2.75px;
    &::placeholder{
      color: $caption-slate;
      font-style: italic;
    }
  }
  #title-update-text {
    line-height: 1.2;
    border: none;
    padding: 0;
    &:hover {
      border: none;
    }
  }
}
#new-post-textarea, #post-update-textarea, #link-textarea, #comment-text-field {
  font-size: $font-sm !important;
  font-weight: 100 !important;
  &::placeholder {
    color: $caption-slate;
    font-style: italic;
    padding-top: .75px;
  }
}
#post-update-textarea{
  height: 7.25em;
  &::placeholder {
    color: $caption-slate;
    font-style: italic;
  }
}
#new-post-textarea, #comment-text-field, #link-textarea, #update-profile-textarea {
  line-height: 1em;
}
}
// styles update form text to match post title styling (h3 in fonts)
#title-update-form {
  color: $black-slate;
  font-size: $font-md-abs;
  font-weight: $font-heavy;
  margin-bottom: 0;
}
// password input validation characters
.bv-no-focus-ring {
  text-align: left; //overrrides parent container's text-align center
}
.validation-char {
  color: $royal!important;
  font-size: 10px!important;
  font-weight: $font-heavy;
  margin: .75em 0 0 2em;
  text-align: left;
}
#update-validation-char {
  position: absolute;
  bottom: -13px;
}
#edit-post-error{
  top: -10;
  bottom: 292;
  right: 50;
  left: 50;
}

@media (min-width: 576px) {
  .form-inline .form-control {
    width: 100%
  }
}