%forms{
  form {
    -webkit-appearance: none;
    textarea, input, .form-control {
      color: $black-slate;
      background: $light-slate;
      border: 1px solid $light-slate-full; //overrides default
      border-radius: $border-radius-sm;
      box-shadow: $shadow-low-contrast; //overrides default
      font-weight: $font-heavy;
      font-size: $font-md;
      resize: none;
      transition: all .4s ease-in;
      &::placeholder{
        color: $caption-slate;
        font-style: italic
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .free-textarea, .inline-input {
      font-size: $font-sm !important; //overrides textarea default
      font-weight: $font-fine !important //overrides textarea default 
    }
    .inline-input{
      box-shadow: $shadow-low-contrast;
      line-height: 1em;
    }
    .inline-input-lg{
      height: 50px;
    }
    .free-textarea, #new-post-title, #title-update-text, #post-update-text{ //overrides default updating forms to be style free
      background-color: transparent;
      box-shadow: none;
      border: none;
      &:hover, &:focus, &:active {
        border: none!important;
      }
    }
    #title-update-text {
      line-height: 1.2; //places upate text in exact pixel location as post title
      padding: 0;
    }
    #new-post-title{
      &::placeholder{
        font-size: $font-md-abs!important;
        font-weight: $font-heavy;
      }
    }
  }
}
// password input validation characters
.bv-no-focus-ring {
  text-align: left; //overrrides parent container's text-align center
}