.bg-img{
  height: 110vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1000
}
@media only screen and (min-width: 600px) {
  .bg-img {
    display: none;
  }
}