.link-style-main, .link-style-alt {
  transition: ease 0.3s all;
  &:hover{
    cursor: pointer;
    text-decoration: none;
  }  
}
.link-style-main {
  color: $royal!important;
  font-size: $font-sm;
  &:hover{
    color: $plastic-pink!important
  }
}
.link-style-alt {
  color: $royal !important;
  font-size: $font-md-abs;
  &:hover{
    color: $royal-dark!important
  }
}
.link-disabled{
  color: $royal !important;
  font-size: $font-md-abs;
  &:hover{
    text-decoration: none;
  }
}