%posts {
  .card {
    background: $background-slate;
    border: 0;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-dark;
    margin: 1em;
    transition: ease-in-out 0.4s all;
    .comments-section {
      .comment-container, .links-container {
        background-color: $light-slate;
        border: 1px solid $light-slate;
        border-radius: $border-radius-sm;
        margin-top: .25em;
      }
      .comment-text {
        font-size: $font-sm;
        font-weight: $font-light;
      }
    }
  }
}