button {
  background-color: #fff;
  border: 2px solid $primary-blue;
  color: $primary-blue;
  font-size: $font-md;
  font-weight: $font-med;
  outline: none;
  padding: .75em;
  transition: all 0.4s ease;
  &:active, :focus{
    outline: none;
  }
}
.btn-primary, .btn-secondary, .btn-secondary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active {
  background: none;
  border: 1px solid transparent;
  box-shadow: none;
  &:active, :focus{
    background: none !important;
    outline: none;
  }
}
.btn-secondary:focus {
  background-color: #fff !important;
  border: 1px solid $hot-pink;
  color: $hot-pink;
  box-shadow: none
}
.login-btn {
  color: $metallic-blue;
  border: 1px solid $metallic-blue;
  &:hover{
    color: #fff;
    background: $metallic-blue !important;
  }
}
.signUp-btn {
  background: #fff;
  border: 1px solid $metallic-blue;
  box-shadow: $box-shadow-light-fade;
  color: $metallic-blue;
  &:hover {
    background: #fff;
    border: 1px solid $hot-pink;
    box-shadow: $box-shadow-light-fade;
    color: $hot-pink;
  }
}
#edit-button {
  background: none;
  box-shadow: none;
}
.type-links {
  border: 1px solid transparent;
  color: $true-blue;
  transition: all .7s ease;
  &:hover {
    border: 1px solid $metallic-blue;
    color: $hot-pink;
  }
  &:active, &:focus {
    border: 1px solid transparent;
  }
}