button {
  color: $background-slate;
  font-size: $font-md;
  font-weight: $font-heavy;
  padding: .75em;
  transition: ease-in-out 0.4s all;
  &:active, &:focus, &:hover{
    background-color: none;
    outline: none!important;
  }
}
#toggle-post-button{
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: $font-sm;
  &:focus {
    outline: none!important;
  }
  img {
    height: 22px;
    width: auto;
  }
}
#submit-comment, #submit-link, #update-post, #create-post{
  margin: 1em 0 1em 0;
}
#update-post{
  position: absolute;
  bottom: -40px;
  right: 0
}
#delete-post, #delete-comment, #delete-link, #reset-post-form {
  font-size: $font-sm!important; //overrides neu-c-button font-size style
  padding: .5em;
  position: absolute;
  top: 10px;
  right: 0px
}
.icon-button{
  background-color: $background-slate;
  box-shadow: $box-shadow-dark;
  border-radius: 18px;
  border: 2px solid $background-slate;
  line-height: 16px;
  margin: 0 .15em .25em .15em;
  outline: none;
  padding: 6px 8px;
  -webkit-appearance: none;
  width: auto;
  &:active, :focus, :hover{
    outline: none;
    }
    #post-nav-icon{
      height: 16px;
      width: auto;
    }
}
.neu-b-button{
  background-color: $background-slate;
  -webkit-appearance: none;
  box-shadow: $box-shadow-button-inset;
  border-radius: 5px;
  border: none;
  color: $royal-matte;
  font-size: $font-sm;
  letter-spacing: .1em;
  margin: 0 .75em 0 .75em;
  outline: none;
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease-in-out 0.4s all;
  &:hover {
    color: $proton-deep;
    background-color: $background-slate;
    transform: scale(0.98);
  }
  &:focus{
    outline: none;
  }

}
.neu-c-button{
  background-color: $candy-red;
  -webkit-appearance: none;
  box-shadow: $box-shadow-button-inset;
  border-radius: 5px;
  border: none;
  font-size: $font-lg;
  letter-spacing: .1em;
  margin: 0 .75em 0 .75em;
  outline: none;
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease-in-out 0.4s all;
  &:hover {
    background-color: $candy-red-dark;
    transform: scale(0.98);
  }
  &:focus{
    outline: none;
  }
}
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
.btn-primary, .btn-secondary, .btn-secondary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active {
  background: none;
  border: 1px solid transparent;
  box-shadow: none;
  &:active, :focus{
    background: none !important;
    outline: none;
  }
}
.btn-secondary:focus, .btn-secondary:hover {
  background-color: transparent !important;
  border: 1px solid transparent;
  box-shadow: none
}
.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: transparent !important;
  border: 1px solid transparent;
  box-shadow: none
}