button {
  border-radius: $border-radius-reg;
  font-size: $font-sm;
  font-weight: $font-heavy;
  padding: .75em;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease-in-out 0.4s all;
  &:active, &:focus, &:hover{
    background-color: none;
    outline: none!important;
  }
}
.post-navigation-button{
  background-color: $background-slate;
  box-shadow: $shadow-low-contrast;
  border-radius: 18px;
  border: 2px solid $background-slate;
  line-height: 16px;
  margin: 0 .15em .25em .15em;
  outline: none;
  padding: 6px 8px;
  transition: ease 0.4s box-shadow;
  -webkit-appearance: none;
  width: auto;
  &:active, &:focus, &:hover{
    outline: none;
  }
    #post-nav-icon{
      height: 16px;
      width: auto;
    }
}
.neu-b-button, .neu-c-button{
  background-color: $background-slate;
  -webkit-appearance: none;
  box-shadow: $shadow-low-contrast;
  border: none;
  letter-spacing: .1em;
  margin: 0 .75em 0 .75em;
  outline: none;
  padding: 1em;
}
.neu-b-button{
  color: $royal;
  &:hover {
    color: $background-slate;
    background-color: $royal;
  }
}
.neu-c-button{
  color: $candy-red-opaque;
  font-size: $font-lg; //overrides default button font size
  &:hover {
    background-color: $candy-red;
    color: $background-slate;
  }
}
#update-post, #create-post, #submit-comment, #submit-link{
  margin: 1em 0 1em 0;
}
#update-post, #create-post {
  background-color: $royal;
  color: $background-slate;
  &:hover{
    background-color: $proton-deep;
  }
}
#update-post{
  position: absolute;
  bottom: -73px;
  right: 0;
}
#delete-post, #delete-comment, #delete-link, #reset-post-form, #show-comment-form{
  font-size: $font-sm!important; //resets neu-c-button's override
  padding: .5em 1em .5em 1em!important; //overrides default button padding
}
#delete-post, #delete-link, #reset-post-form{
  position: absolute;
  right: 0px;
  top: 10px
}
#delete-comment{
  position: absolute;
  right: -8px;
  top: -10px
}
#show-comment-form , #show-link-form{
  color: $proton-light;
  position: absolute;
  right: 0px;
  top: -52px
}