%cards {
  .card {
    background: $background-slate;
    border: 0;
    border-radius: 20px;
    box-shadow: $box-shadow-dark;
    margin: 1em;
    transition: ease-in-out 0.4s all;
    .card-body{
      padding: .5rem 1.25rem .5rem 1.25rem;
    }
    .card-text{
      padding: 1em;
      font-weight: $font-light;
      font-size: $font-sm;
    }
    &:hover {
      box-shadow: none;
    }
    .comments-section{
      margin: 1.5em 0 .25em 0;
      .comments-container, .links-container {
        border: 1px solid $dark-slate;
        border-radius: 5px;
      }
      .links-container {
        color: $true-blue;
      }
      .comment-text {
        font-size: $font-sm;
        font-weight: $font-light;
      }
    }
    #handle-update{
      border: 0em;
      box-shadow: none;
      padding: .25em 0 0 .25em;
      margin: 0 0 0 .5em;
    }
    #handle-cancel{
      border: 0em;
      box-shadow: none;
      margin: 0;
      padding: .25em .25em .25em 2.6em;
    }
    #submit-comment-button, #submit-annotation{
      background: none;
      border: 0em;
      box-shadow: none;
      font-size: $font-sm!important;
      padding: .75em;
      position: absolute;
      right: -10;
      bottom: 0;
    }
    #submit-annotation{
      bottom: 5;
      &:focus {
        outline: none;
      }
    }
  }
}