%cards {
  .card {
    border: 0;
    -webkit-box-shadow: $box-shadow-light;
    -moz-box-shadow: $box-shadow-light;
    box-shadow: $box-shadow-light;
    margin: 1em 0 1em;
    transition: box-shadow 0.3s ease;
    .card-text{
      padding: 1em;
    }
    #card-text, #annotate-text {
      font-size: $font-md;
      height: 4em;
    }
    #card-text {
      height: 8em;
    }
    &:hover {
      box-shadow: $box-shadow-light-fade;
    }
  }
}