%cards {
  .card {
    border: 0;
    -webkit-box-shadow: $box-shadow-light;
    -moz-box-shadow: $box-shadow-light;
    box-shadow: $box-shadow-light;
    margin: 1em 0 1em;
    .card-text{
      padding: 1em;
    }
  }
}