%forms{
.form-container {
  background-color: $light-slate-full;
  border-radius: 5px;
  box-shadow: $box-shadow-dark;
  max-width: 700px;
}
form {
  .form-control {
    height: 4em;
  }
  textarea, input, .form-control {
    color: $black-slate;
    background: $background-slate;
    border: 1px solid $light-slate;
    border-radius: 0.5;
    font-size: $font-md;
    font-weight: $font-heavy;
    resize: none;
    transition: all .4s ease-in;
    &::placeholder{
      color: $slate;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &:hover, :active, :focus {
      transform: scale(1.01);
      border: 1px solid $royal;
      box-shadow: none!important;
    }
    &:focus {
      box-shadow: none!important;
    }
  }
  #post-form-textarea{
    line-height: 1.2;
  }
  #new-post-title, #title-update-text {
    line-height: 1.2;
    border: none;
    padding: 0;
    &:hover {
      border: none;
    }
  }
}
#comment-text-field, #post-form-textarea, #link-text-area {
  font-size: $font-sm !important;
  font-weight: 100 !important;
  height: 7.25em;
  &::placeholder {
    color: $caption-slate;
    font-style: italic;
  }
}
#link-text-area {
  height: 3em!important;
}
}
// styles update form text to match post title styling (h3 in fonts)
#title-update-form {
  color: $black-slate;
  font-size: $font-md-abs;
  font-weight: $font-heavy;
  margin-bottom: 0;
}
.bv-no-focus-ring{
  text-align: left;
}
.validation-char {
  color: $black-slate;
  font-size: 10px!important;
  font-weight: $font-heavy;
  margin: .75em 0 0 2em;
  text-align: left;
}
#update-validation-char {
  position: absolute;
  bottom: -10px;
  color: $royal-dark;
}
// Form Errors
.error-badge{
  position: absolute;
  padding-top: 12;
  top: -20;
  bottom: 360;
  right: 50;
  left: 50;
  z-index: 1
}
#edit-post-error{
  top: -10;
  bottom: 292;
  right: 50;
  left: 50;
}