%forms{
form {
  textarea, input, .form-control {
    border: 1px solid $neon;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    color: $indigo;
    font-size: 1em;
    height: 2em;
    resize: none;
    transition: border .4s ease-in;
    &::placeholder {
      color: $sherbert
    }
    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $sherbert;
      border-top: none;
      border-right: none;
      border-left: none;
    }
  }
}
  #card-text, #annotate-text {
    font-size: $font-md;
    height: 4em;
  }
  #card-text {
    height: 8em;
  }
}

.bv-no-focus-ring{
  text-align: left;
}
.validation-char {
  color: $indigo;
  font-size: $font-sm;
  text-align: left
}