%forms{
form {
  #title-input {
    font-size: $font-md !important;
  }
  textarea, input, .form-control {
    color: $metallic-blue;
    border: 1px solid transparent;
    height: 2.5em;
    resize: none;
    transition: border .4s ease-in;
    &:focus {
      box-shadow: none;
      border: 1px solid $metallic-slate;
      border-radius: 0.5;
    }
    &::placeholder{
      color: $metallic-blue;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
  #card-text, #annotate-text {
    font-size: $font-sm;
    height: 4em;
  }
  #card-text {
    height: 8em;
  }
}

.bv-no-focus-ring{
  text-align: left;
}
.validation-char {
  color: $metallic-blue;
  font-size: $font-sm;
  text-align: left
}