.form-header-icon{
  height: 4em;
}
.inline-card-icon {
  display: inline;
  height: 22px;
}
#add-post-icon {
  margin-top: 3px;
  height: 2em;
}
#add-comment-icon, #add-link-icon {
  background: none;
  position: absolute;
  bottom: 28px;
  left: -10px;
}
#add-link-icon{
  bottom: 10px;
}
#delete-post-icon {
  position: absolute;
  height: 15px;
  right: 15;
  top: 10;
}