.form-header-icon{
  height: 4em;
}
.inline-card-icon {
  display: inline;
  height: 22px;
}
#add-post-icon {
  margin-top: 3px;
  height: 2em;
}
#add-comment-icon {
  background: none;
}
#delete-card-icon {
  position: absolute;
  height: 18px;
  right: 25;
  top: 10;
}