.inline-icon {
  display: inline;
  height: 22px;
  width: 22px;
}
#add-comment-icon, #add-link-icon {
  background: none;
}
#add-link-icon{
  bottom: 10px;
}
#delete-post-icon {
  position: absolute;
  height: 15px;
  right: 15;
  top: 10;
}