.custom-control {
  // border: 3px solid $lime-green;
  color: $lime-green;
  display: inline-block;
  padding: .5em;
  transition: 0.3s ease;
  ::after, ::before {
    display: none;
  }
  &:hover, &:visited, &:active, &:focus {
    color: $true-blue;
  }
}
input[type="radio"]:checked+label {
  color: $true-blue;
}
.login-menu-link {
  color: $sherbert !important;
  transition: ease 0.4s all;
  &:hover{
    color: $terra-red!important;
    cursor: pointer;
  }
}