%nav {
  #nav {
    background: none;
    height: 70px;
    width: 100%;
    a {
      color: white;
      padding: .5em;
      font-weight: bold;
      font-size: $font-sm;
      &.router-link-exact-active, &:hover {
        color: white;
        text-decoration: none;
      }
    }
    .nav-logo {
      height: auto;
      width: 100%;
    }
    .post-icon {
      margin: 1em 0 0 0;
      height: 1.5em;
    }
  }
}