%nav {
  #nav {
    background-color: $slate;
    a {
      color: white;
      padding: .5em;
      font-weight: bold;
      font-size: $font-sm;
      &.router-link-exact-active, &:hover {
        color: white;
        text-decoration: none;
      }
    }
    .main-icon {
      height: 3em;
    }
    .post-icon {
      margin: 1em 0 0 0;
      height: 1.5em;
    }
  }
}