// COLORS
$primary: #31C3C3;
$sherbert: #ffaf7b;
$indigo: #743ad5;
$neon: #d53a9d;
$border-g: linear-gradient(to left, $indigo, $neon);
$box-shadow-light: 10px 10px 22px -1px rgba($neon,0.35);
$box-shadow-light-fade: 8px 8px 20px -3px rgba($neon,0.25);
$box-shadow-dark: 10px 10px 22px -1px rgba($indigo,0.35);
// SHAPES
$border-radius-lg: .75em;